# Compiled Java classes
/bin/
*.class

# Package files
*.jar
*.war
*.ear

# Dossier de tests d'images - à ignorer
/images-test/

# Fichiers et répertoire de l'IDE - à ignorer
/.idea/
/.vscode/
*.iml

# Autres fichiers système couramment ignorés
.DS_Store
Thumbs.db
